/*variables*/
:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);

  --color-blue: hsl(248, 32%, 49%);

  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
}
/*normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*reusable code*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*root*/
html {
  font-size: 62.5%;
}
/*container page*/
body {
  background-color: var(--color-red);
  background-image: url(../images/bg-intro-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;

  font-family: "Poppins", sans-serif;
}
/*main page*/
.main-page {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  padding: 0 2rem;
}
/*component*/
.intro-component {
  max-width: 110rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
}
/*text section*/
.intro-component__text-box {
  flex: 0 1 50%;

  padding: 0 4rem;
}
.intro-component__tittle {
  color: #ffffff;
  font-size: 4.8rem;

  margin-bottom: 3rem;
}
.intro-component__text {
  color: #ffffff;
  font-size: 1.6rem;
}
/*form section*/
.intro-component__box-form {
  flex: 1 0 50%;

  padding: 1rem;
}
/*offer block*/
.offer {
  background-color: var(--color-blue);

  text-align: center;

  padding: 2rem 0;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.offer__text {
  color: #ffffff;
  font-size: 1.5rem;
}
.offer__text-light {
  color: var(--color-grayish-blue);
  font-weight: 200;
}
/*form block*/
.form-master {
  background-color: #ffffff;

  padding: 4rem;

  border-radius: 1rem;
}
/*input block*/
.input-check {
  position: relative;
}
.input-check__input {
  width: 100%;

  padding: 1.6rem 3rem;

  color: var(--color-dark-blue);
  font-size: 1.5rem;
  font-weight: 700 !important;

  border-radius: 0.6rem;
  border: 0.2rem solid var(--color-grayish-blue);
  outline: none;
}
.input-check__input--alert {
  border: 0.2rem solid var(--color-red);
  color: var(--color-red);
}
.input-check__input:focus {
  outline: none;
}
.input-check__input:hover {
  border: 0.3rem solid hsla(249, 15%, 42%, 0.5);
}
.input-check__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-grayish-blue);
  font-weight: 700 !important;
  opacity: 1; /* Firefox */
}
.input-check__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-grayish-blue);
  font-weight: 700 !important;
}
.input-check__input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-grayish-blue);
  font-weight: 700 !important;
}
.input-check__image-alert {
  width: 2.5rem;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 0;
  transform: translateY(50%);

  transition: visibility 0s, opacity 0.4s linear;
}
.input-check__image-alert--visible {
  visibility: visible;
  opacity: 1;
}
.input-check__text-alert {
  height: 0rem;
  overflow: hidden;

  position: relative;

  opacity: 0;

  text-align: end;
  color: var(--color-red);
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 600;

  padding: 1rem;
  padding-bottom: 0;

  transition: opacity 0.4s, height 0.4s linear;
}
.input-check__text-alert--visible {
  height: 2.5rem;
  opacity: 1;
}
.input-check--margin {
  margin-bottom: 2rem;
}
/*sign up section*/
.form-master__sign-up {
  background-color: var(--color-green);
  width: 100%;

  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;

  padding: 1.6rem 0;
  margin: 2rem 0;

  border-radius: 0.6rem;
  border: none;
  border-bottom: 0.4rem solid #31b87d;
}
.form-master__terms {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-grayish-blue);
}
.form-master__link-terms {
  text-decoration: none;
  color: var(--color-red);
  font-weight: 700;
}
@media screen and (max-width: 1920px) and (max-height: 970px) {
  /*component*/
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 1440px) and (max-height: 680px) {
  /*component*/
  html {
    font-size: 54%;
  }
}
@media screen and (max-width: 1024px) {
  /*component*/
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 768px) {
  /*component*/
  html {
    font-size: 42%;
  }
}
@media screen and (max-width: 540px) {
  /*component*/
  html {
    font-size: 88.5%;
  }
  /*main page*/
  .main-page {
    top: 0;
    left: 0;
    transform: translate(0, 0);

    padding: 0;
  }
  /*component*/
  .intro-component {
    flex-direction: column;
    justify-content: center;
  }
  /*text section*/
  .intro-component__text-box {
    flex: 1 0 auto;
    padding: 0;

    padding-top: 10rem;
    text-align: center;
  }
  .intro-component__tittle {
    font-size: 2.6rem;

    padding: 0 7rem;
  }
  .intro-component__text {
    font-size: 1.6rem;
    line-height: 3rem;

    padding: 0 3rem;
  }
  /*form section*/
  .intro-component__box-form {
    flex: 1 0 auto;
    width: 100%;

    padding: 6rem 3rem;
  }
  /*offer block*/
  .offer {
    padding: 2rem 5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
  }
  .offer__text {
    color: #ffffff;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  /*form block*/
  .form-master {
    padding: 2rem;
  }
  /*input block*/
  .input-check {
    position: relative;
  }
  .input-check__input {
    padding: 2rem;
  }
  .input-check__image-alert {
    transform: translateY(70%);
  }
  /*sign up section*/
  .form-master__sign-up {
    font-size: 1.5rem;

    padding: 1.6rem 0;
    margin: 2rem 0;
  }
  .form-master__terms {
    font-size: 1.1rem;

    padding: 0 2rem;
  }
}
@media screen and (max-width: 426px) {
  /*component*/
  html {
    font-size: 68.5%;
  }
}
@media screen and (max-width: 376px) {
  /*component*/
  html {
    font-size: 63.5%;
  }
}
@media screen and (max-width: 360px) {
  /*component*/
  html {
    font-size: 60.5%;
  }
}
@media screen and (max-width: 320px) {
  /*component*/
  html {
    font-size: 53.5%;
  }
}
@media screen and (max-width: 280px) {
  /*component*/
  html {
    font-size: 46.5%;
  }
}
